<h1 ng-show="projects.length">Projects</h1>
<table ng-show="projects.length">
	<thead>
		<th>Title</th>
		<th>Body</th>
		<th>Pos</th>
		<th>Active</th>
		<th>Menu</th>
		<th>Actions</th>
	</thead>
	<tbody>
		<tr ng-repeat="project in projects">
			<td>{{project.title}}</td>
			<td>{{project.body}}</td>
			<td>{{project.pos}}</td>
			<td>{{project.active}}</td>
			<td>{{project.menu}}</td>
			<td>
				<button class="btn btn-primary" ng-click="editProject(project)">Edit<button>
				<button class="btn btn-danger" ng-click="delete(project)">Delete<button>
			</td>
		</tr>
	</tbody>
</table>

<hr />

<h2 ng-if="!editing">New Project</h2>
<h2 ng-if="editing">Edit Project</h2>
<form ng-submit="save(project)">
	<label>
		<span>Image:</span>
		<input type="text" ng-model="project.image" />
	</label>
	<label>
		<span>Title:</span>
		<input type="text" ng-model="project.title" />
	</label>
	<label>
		<span>Body:</span>
		<textarea cols="80" rows="5" ng-model="project.body"></textarea>
	</label>
	<label>
		<span>Meta:</span>
		<input type="text" ng-model="project.meta" />
	</label>
	<label>
		<span>Canonical:</span>
		<input type="text" ng-model="project.canonical" />
	</label>
	<label>
		<span>Pos:</span>
		<input type="number" ng-model="project.pos" />
	</label>
	<label>
		<span>Active:</span>
		<input type="radio" ng-model="project.active" value="1" />
		<input type="radio" ng-model="project.active" value="0" />
	</label>
	<label>
		<span>Show project in menu:</span>
		<input type="radio" ng-model="project.menu" value="1" />
		<input type="radio" ng-model="project.menu" value="0" />
	</label>

	<button type="submit" class="btn btn-primary">Submit</button>
</form>
<p>
	<button ng-if="editing" class="btn btn-success" ng-click="newProject()">New Project/reset form</button>
</p>